<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./layout/header') %>
    <div style="margin-left: 300px; background-color: white; margin-top: 20px; padding: 20px;">
        <form action="/changePass" method="post">
            <label for="">current password</label>
            <input type="text" name="currentPassword"><br>
            
            <label for="">new Password</label>
            <input type="text" name="NewPassword"><br>

            <label for="">confirm Password</label>
            <input type="text" name="ConfirmPassword"><br>
            <input type="submit" value="change Password">
        </form>
    </div>
</body>
</html>