<form action="/forgotPassword" method="post">
    <input type="text" placeholder="enter new password" name="newPassword"><br>
    <input type="text" placeholder="enter confirm password" name="confirmPassword"><br>
    <input type="submit" value="forgot Password">
</form>