<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../layout/header') %>
    <div class="row match-height" style="margin-left: 300px; margin-top: 20px;">
        <div class="col-lg-6 col-md-12">
          <div class="card shadow-sm">
            <div class="card-header bg-primary text-white text-center">
              <h4>Fill Out Your Details</h4>
            </div>
            <div class="card-block">
                <div class="card-body">
                  <form action="/category/insertCategory" method="post" > 
                <!-- Name -->
                <h5 class="mt-3">Enter Category</h5>
                <fieldset class="form-group">
                  <input type="text" placeholder="Enter your Name" name="category" class="form-control" />
                </fieldset>
                <!-- Submit Button -->
                <fieldset class="form-group text-center">
                  <input type="submit" class="btn btn-success w-100 mt-4" />
                </fieldset>
            </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    
</body>
</html>